* {
    box-sizing: border-box;
}
html {
    margin: 0;
    width: 100%;
    padding: 0;
    font-family: 'JetBrains Mono', monospace;
    font-size: 14px;
    font-weight: 400;
    background-color: #111111;
	  color: #DADADA;
}

@media (min-width: 600px) {
	html {font-size: 16px}
}

html, body, div {
    margin: 0;
    padding: 0;
    width: 100%;
}
.div1,.div2,.div3{
  text-align: center;
  width: 100%;
}
.div1 {
	display: flex;
	flex-direction: column;
  margin: 30vh auto 10vh auto;
	height: 30vh;
}
.div2 {
  display: block;
  margin: 0 auto;
  height: 15vh;
  padding-top: 5vh;
}
.div3 {
  display: block;
  margin: 0 auto;
  height: 2em;
  font-size: 1em;
}
a {
    text-decoration: none;
    color: inherit;
    margin: 0 10px;
}
a:hover {
    color: #FFFFFF;
    cursor: pointer;
    text-decoration: none;
}
